# Rust
/target/
/Cargo.lock

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# App artifacts
.cargo/config.toml
/out/
/.store/
gfx/
*.exe
*.zip
/SHA256SUMS.txt
src/gui/config.rs
src/gui/gui_old.rs
src/gui/table_model.rs
